/*custom font for text*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

/*Basic reset*/


* {margin: 0; padding: 0;}

header,section,nav,aside,footer,main, article, ul, a, h3, h1, p, span{
    display:block;
}

body {
	width:100%;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 50px;
}

#wrapper {
    margin: 0px auto;
    width:100%;
}

.clear { clear:both; }

/*footer*/

footer{
    font-family: 'Quicksand', sans-serif;
}

footer a,footer a:hover, footer a:visited, footer a:link{
	text-decoration: none;
	display:inline;
	color: black;
}

/*content area*/

div.row > div > div.row {
	margin-bottom: 15px;
}

#image-gallery{
font-size:24px;	
}

/*form*/

h3{
font-size:18px;
text-align:center;
text-shadow:1px 0px 3px gray;
}

label{
margin-top:5px;
margin-left:5px;	
}

input{
margin-left:5px;
width:95%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}

input[type=button], input[type=submit]{
background-color:#123456;
border:1px solid white;
font-family: 'Fauna One', serif;
font-Weight:bold;
font-size:18px;
color:white;
width:20%;
border-radius:10px;
}

#upload{
width:400px;
margin:0px;
background-color:white;
font-family: 'Fauna One', serif;
position: relative;
border: 5px solid rgb(90, 158, 181);
left: 50%;
top: 50%;
margin-left:-210px;
margin-top:-158px;
border-radius:10px;
z-index:999;
}

#uploaddiv{
opacity:0.92;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: #000;
display:none;
z-index:80;
}

#onclickAdd, input[type=submit], #uppic, #cancel, section button.edit , section button.noedit, .remove{
padding:3px;
cursor:pointer;
color:white;
background-color:#123456;
box-shadow:1px 1px 5px grey;
border-radius:8px;
margin-bottom:10px;
}

.filter{
	display:inline;
}

#onclickAdd{
display:black;	
}

#pic{
	display: inline;
}

/*content-pictures*/

section {
float:left;	
margin-right: 20px;
margin-bottom:20px;
box-shadow:1px 1px 5px grey;
padding-left:10px;
padding-bottom:10px;
border-radius:5px;
}

img{
width: 280px;
height: 280px;	
}

section button.edit , section button.noedit, .remove{
margin-top:10px;
}

#gallery{
margin-top:1%;
margin-left: 9%;
width:90%;
}

h5{
margin-top:15px;	
}

div section .edit{
	display:none;
}

div section.edit .edit{
	display:initial;
}

div section.edit .noedit{
	display:none;
}

